In [16]:
# Import library 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:

# Load the data
df_aapl = pd.read_csv('datasets/AAPL.csv')
df_amzn = pd.read_csv('datasets/AMZN.csv')
df_googl = pd.read_csv('datasets/GOOG.csv')
df_msft = pd.read_csv('datasets/MSFT.csv')
df_nvda = pd.read_csv('datasets/NVDA.csv')

Let's look at the dataset in this section - printing each file separately

## APPLE

In [18]:
print(df_aapl.head())

         Date       Open       High        Low      Close  Adj Close  \
0  2019-07-29  52.115002  52.660000  52.110001  52.419998  50.590397
1  2019-07-30  52.189999  52.540001  51.827499  52.195000  50.373257
2  2019-07-31  54.105000  55.342499  52.825001  53.259998  51.401081
3  2019-08-01  53.474998  54.507500  51.685001  52.107498  50.288803
4  2019-08-02  51.382500  51.607498  50.407501  51.005001  49.224789

      Volume
0   86693600
1  135742800
2  277125600
3  216071600
4  163448400

In [19]:
df_aapl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Adj Close  1259 non-null   float64
 6   Volume     1259 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB

## AMAZON

In [20]:
print(df_amzn.head())

         Date       Open       High        Low      Close  Adj Close    Volume
0  2019-07-29  96.500000  96.611504  94.527000  95.622498  95.622498  89864000
1  2019-07-30  94.556000  95.494499  94.174004  94.926498  94.926498  58218000
2  2019-07-31  94.905502  94.977501  92.472000  93.338997  93.338997  89414000
3  2019-08-01  93.585999  94.896004  92.200500  92.765999  92.765999  94266000
4  2019-08-02  92.253502  92.318001  90.401001  91.162003  91.162003  99124000

In [21]:
df_amzn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Adj Close  1259 non-null   float64
 6   Volume     1259 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB

## GOOGLE

In [22]:
print(df_googl.head())

         Date       Open       High        Low      Close  Adj Close    Volume
0  2019-07-29  62.052502  62.368500  61.411499  61.970501  61.900063  44474000
1  2019-07-30  61.270500  61.743500  61.165001  61.257000  61.187370  29066000
2  2019-07-31  61.150002  61.700001  60.388199  60.834000  60.764851  34510000
3  2019-08-01  60.701500  61.705502  60.285999  60.450500  60.381790  33970000
4  2019-08-02  60.036999  60.345001  59.446999  59.699501  59.631641  32902000

In [23]:
df_googl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Adj Close  1259 non-null   float64
 6   Volume     1259 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB

## MICROSOFT

In [24]:

print(df_msft.head())

         Date        Open        High         Low       Close   Adj Close  \
0  2019-07-29  141.500000  141.509995  139.369995  141.029999  134.499695
1  2019-07-30  140.139999  141.220001  139.800003  140.350006  133.851181
2  2019-07-31  140.330002  140.490005  135.080002  136.270004  129.960129
3  2019-08-01  137.000000  140.940002  136.929993  138.059998  131.667267
4  2019-08-02  138.089996  138.320007  135.259995  136.899994  130.560989

     Volume
0  16605900
1  16846500
2  38598800
3  40557500
4  30791600

In [25]:
df_msft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Adj Close  1259 non-null   float64
 6   Volume     1259 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB

## NVDIA

In [26]:
print(df_nvda.head())

         Date     Open     High      Low    Close  Adj Close     Volume
0  2019-07-29  4.36950  4.38675  4.28175  4.37050   4.345417  248160000
1  2019-07-30  4.32375  4.39850  4.30925  4.38625   4.361075  197772000
2  2019-07-31  4.35450  4.35550  4.17550  4.21800   4.193791  359416000
3  2019-08-01  4.22850  4.31950  4.07050  4.12300   4.099337  421212000
4  2019-08-02  4.02975  4.09950  3.98200  4.02975   4.006622  428348000

In [27]:
df_nvda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Adj Close  1259 non-null   float64
 6   Volume     1259 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB